data.csv
donuts-found.jpg
img/
img.zip
test.png
.ipynb_checkpoints/
annotations/
detect/
detect2/
detect3/
detect4/
test.yaml
tranformers.py
__pycache__/
alannn.ipynb
detr.ipynb
detr.py
evaluate.py
out.json
test.json
testc.ipynb
