best_openvino_model/
best_opset13.onnx
best_opset19.onnx
best_prune_75_quantized_int4_opset13.onnx
best_prune_75_quantized_int4_opset19.onnx
best_prune_75_quantized_int8_opset13.onnx
best_prune_75_quantized_int8_opset19.onnx
best_prune_openvino_model/
best_prune_opset13.onnx
best_prune_opset19.onnx
best_prune.pt
best.pt
data1.csv
data.csv
detect4
graph.xml
grath.json
metricsmAP50-95(B)_norm.pdf
metricsmAP50(B)_norm.pdf
metricsprecision(B)_norm.pdf
metricsrecall(B)_norm.pdf
micro.yaml
"norm_time".pdf
norm_time.pdf
openvino_prune_quant/
res1.png
res2.png
res3.png
runs
test.yaml
